decord==0.6.0
h5py==3.16.0
matplotlib==3.10.8
numpy==2.4.3
openai==2.26.0
opencv_python==4.13.0.92
Pillow==12.1.1
python-dotenv==1.2.2
PyYAML==6.0.2
PyYAML==6.0.3
scenedetect==0.6.7.1
scipy==1.17.1
setuptools==69.5.1
torch==2.8.0+cu128
torchvision==0.23.0+cu128
tqdm==4.66.2
transformers==5.3.0
